* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.03);
}

header {
  text-align: center;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-icon,
.cart-icon {
  font-size: 1.5rem;
}

.tagline {
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin: 0.5rem 0;
}

.featured-drone {
  position: relative;
  text-align: left;
  margin: auto;
  max-width: 300px;
}

.drone-info {
  position: absolute;
  top: 10%; /* Adjust for best fit */
  left: 10%; /* Adjust for best fit */
  color: #fff; /* Text color */
}

.drone-info h2 {
  color: #be1111;
  text-align: left;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.drone-info h3 {
  color: #fff;
  text-align: left;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.drone-info p {
  margin: 0.5rem 0; /* Spacing between text elements */
}

.drone-info p.drone-level {
  font-size: 1rem; /* Smaller text for 'Beginner' */
  margin-bottom: 0.5rem; /* Space below 'Beginner' */
}

.drone-info p.drone-price {
  font-size: 1.5rem; /* Large text for price */
  font-weight: 600; /* If the price is bold */

  margin-bottom: 0.5rem; /* Space below price */
  font-size: 1rem;
}

.image-container img {
  width: 100%;
  display: block;
}

.buy-now {
  position: absolute;
  right: 15px;
  bottom: 30px;
  background: #fff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
}

.drone-item {
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  background: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.drone-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

button {
  border-radius: 7px;
  border: 1.25px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

footer {
  background-color: #ffffff;
  color: #000;
  padding: 1rem;
  text-align: center;
}

.social-media a {
  margin: 0 0.5rem;
  color: #000;
  text-decoration: none;
}
